<%- include ("./partials/_header.ejs") %>

<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <% if(photos.length > 0){ %>
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Portfolio</h2>
        <h3 class="section-subheading text-muted"><%= photos.length %> Records</h3>
      </div>
      <% for( let i = 0; i < photos.length; i++ ) { %>
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 1-->
        <div class="portfolio-item">
          <a class="portfolio-link" data-bs-toggle="modal" href="#modal<%= photos[i]._id %>">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="<%= photos[i].image %>" alt="..." />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading"><%= photos[i].title %></div>
            <div class="portfolio-caption-subheading text-muted"><%= photos[i].description %></div>
          </div>
        </div>
      </div>
      <% } %> <% } else{ %>
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Portfolio</h2>
        <h3 class="section-subheading text-muted">No records</h3>
      </div>
      <% } %>
    </div>
  </div>
</section>

<% for( let j = 0; j < photos.length; j++ ) { %>
<div class="portfolio-modal modal fade" id="modal<%= photos[j]._id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project details-->
              <h2 class="text-uppercase"><%= photos[j].title %></h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-fluid d-block mx-auto" src="<%= photos[j].image %>" alt="..." />
              <p><%= photos[j].description %></p>

              <a href="/photos/edit/<%= photos[j].id %>" class="btn btn-warning btn-xl text-uppercase" type="button">
                <i class="fas fa-times me-1"></i>
                Edit
              </a>
              <a href="/photos/<%= photos[j].id %>?_method=DELETE" class="btn btn-danger btn-xl text-uppercase" type="button">
                <i class="fas fa-times me-1"></i>
                Remove
              </a>
              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                <i class="fas fa-times me-1"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %> <%- include ("./partials/_footer.ejs") %>
